In [3]:
pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.0.7-py2.py3-none-any.whl (243 kB)
Collecting et-xmlfile
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.7
Note: you may need to restart the kernel to use updated packages.

In [1]:
# This is being used to access a downloaded csv. 
# Import the required libraries.

import pandas as pd
import numpy as np

def colManip(colVals):
    return []

In [50]:
DataDictionary = pd.read_excel('~/SanFranciscoBikeShare/TDS_2017_Data-WEBPAGE (1).xlsx', sheet_name='Data Dictionary',
              engine='openpyxl', usecols=range(4))

Survey2017 = pd.read_excel('~/SanFranciscoBikeShare/TDS_2017_Data-WEBPAGE (1).xlsx', sheet_name='Data Dictionary',
              engine='openpyxl', usecols=range(4))

In [52]:
# Use pd.concat to pick the dataframes that meet our criteria and join them together.
DataDictionary = pd.concat([DataDictionary[DataDictionary['Description'].str.contains('Bay Area') == True],
         DataDictionary[DataDictionary['Field'].str.contains('BIKE') == True],
          DataDictionary[DataDictionary['Description'].str.contains('Zip code') == True],
                           DataDictionary[DataDictionary['Description'].str.contains('Code') == True]])

In [54]:
DataDictionary

,Field,Field Type,Description,Codes
1,Q2,Integer,In which Bay Area county do you live?,1=Alameda\n2=Contra Costa\n3=Marin\n4=Napa\n5=...
3,Trips,Integer,Total trips taken- SF residents: Sum of Q4Tot+...,NaN
54,BIKE,Integer,Total of all Bicycle (9) entries for Q4aM to Q5hM,NaN
126,BIKE1,Integer,Total of all Bicycle (9) entries for Day 1 (Q7...,NaN
138,BIKE2,Integer,Total of all Bicycle (9) entries for Day 2 (Q1...,NaN
180,Zone,Integer,(San Francisco Residents) San Francisco Zone (...,1=One\n2=Two\n3=Three\n4=Four\n5=Five\n9=Refused
165,Q25A-SF,Integer,(San Francisco Residents) What is your home ZI...,1=94102 \n2=94103 \n3=94104 \n4=94105 \n5=9410...

In [37]:
#DataDictionary[DataDictionary['Codes'].str.contains('Bicycle') == True]

In [14]:
Survey2017.head()

,Field,Field Type,Description,Codes
0,RESPNUM,Long Integer,Respondent Number – automatically generated du...,NaN
1,Q2,Integer,In which Bay Area county do you live?,1=Alameda\n2=Contra Costa\n3=Marin\n4=Napa\n5=...
2,Q3,Integer,Have you gone into San Francisco within the pa...,1=Yes\n2=No
3,Trips,Integer,Total trips taken- SF residents: Sum of Q4Tot+...,NaN
4,Q4TOT,Integer,(SF Residents) How many trips did you take yes...,0=Zero \n#=trips taken

,Field,Field Type,Description,Codes
165,Q25A-SF,Integer,(San Francisco Residents) What is your home ZI...,1=94102 \n2=94103 \n3=94104 \n4=94105 \n5=9410...